<div class="row">
    <div class="col-md-12">

        <h2>{{ challenge.title }}</h2>

        <p>Location: {{ challenge.startLocationDescription }}</p>

        <p> Date: {{challenge.startDate | date: 'dd.MM.yyyy'}}</p>

        <p>Number of participants: {{challenge.participants.length }}</p>

        <p>Minimal number of participants: {{challenge.minParticipants}}</p>

        <p>Approx duration: {{challenge.approxDuration}} </p>


        <button type="button" ng-hide="hideButton" ng-click="join()" class="btn btn-default">Join</button>
    </div>
</div>