<div class="row">
    <div class="col-md-12">
        <h3>Formal</h3>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    Challengename:
                </div>
                <input type="text" class="form-control">
            </div>

        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    Startpoint
                </div>
                <input type="text" class="form-control">
            </div>

        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    Date
                </div>
                <input type="text" class="form-control"/>
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>

                        </span>
            </div>

        </div>


        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    Minimum Participians
                </div>
                <input type="number" class="form-control bfh-number">

            </div>

        </div>


        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    Estimated time
                </div>
                <input type="text" class="form-control">
            </div>

        </div>


    </div>


</div>

<form ng-submit="addQuest()">
    <div class="row">
        <div class="col-md-6">
            <uib-accordion close-others="true">
                <uib-accordion-group ng-repeat="quest in challenge.quests"
                                     is-open="true">
                    <uib-accordion-heading>
                        <!--<button class="btn btn-sm btn-danger pull-right">-->
                        <!--<i class="glyphicon glyphicon-trash danger"></i>-->
                        <!--Remove-->
                        <!--</button>-->
                        <span class="clearfix">Quest {{ $index + 1 }}</span>

                    </uib-accordion-heading>
                    <quest-step quest="quest"></quest-step>
                </uib-accordion-group>
            </uib-accordion>
            <button type="submit" class="btn btn-default">Add Quest</button>
        </div>
        <div class="col-md-6">
            <leaflet width="100%" height="400" defaults="map.defaults" markers="map.markers"
                     center="map.center"></leaflet>
        </div>
    </div>
</form>








