<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon">
            Question:
        </div>
        <input type="text" class="form-control" required ng-model="quest.question">
    </div>

</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon">
            Answer:
        </div>
        <input type="text" class="form-control" required ng-model="quest.answer">
    </div>

</div>
<div class="form-group row">
    <div class="col-xs-6">
        <div class="input-group">
            <div class="input-group-addon">Lon:</div>
            <input type="text" pattern="[0-9]{1,3}\.[0-9]+" class="form-control"
                   required ng-model="quest.lon">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="input-group">
            <div class="input-group-addon">
                Lat:
            </div>
            <input type="text" pattern="[0-9]{1,3}\.[0-9]+" class="form-control"
                   required ng-model="quest.lat">
        </div>
    </div>
</div>